.message {
  display: flex;
  flex-direction: column;
  &.sender {
    align-items: flex-end;
  }
  &.receiver {
    align-items: flex-start;
  }
  .profile {
    display: flex;

    &.sender {
      flex-direction: row-reverse;
    }
    &.receiver {
      flex-direction: row;
    }
  }
}
