@import "variables.scss";

.app-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  @media (prefers-color-scheme: light) {
    background-color: #e8e8e8;
  }
  background-color: #282c34;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  header {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    h1 {
      font-size: calc(1rem + 1vw);
      font-weight: 600;
      margin: 0;
    }

    .logo {
      width: 100%;
      padding: 1rem;
      will-change: filter;
      transition: filter 300ms;
      &:hover {
        filter: drop-shadow(0 0 2rem #646cffaa);
      }
      @media (prefers-reduced-motion: no-preference) {
        animation: logo-spin infinite 20s linear;
      }
    }
  }

  .menuItems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;

    p {
      $paddingSize: 2rem;
      $borderColor: #fff;
      @media (prefers-color-scheme: light) {
        $borderColor: #000;
      }
      &:nth-child(1) {
        border-top: 1px $borderColor solid;
      }
      &:hover {
        background-color: #646cffaa;
        @media (prefers-color-scheme: light) {
          background-color: #747bffaa;
        }
      }
      transition: background-color 300ms;
      transform: translateX(-$paddingSize);
      padding: $paddingSize;
      margin: 0;
      width: 100%;
      text-align: left;
      border-bottom: 1px $borderColor solid;
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
